<a href="https://colab.research.google.com/github/sumonpme/Skill-Morph/blob/main/SM_class2_IntroductionToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.1.Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [2]:
Name = 'AHMED'
Age = 30
Fav_color = 'GREEN'
# Print the variables
print('My Name is:', Name)
print('I am', Age, 'years old')
print('My Fav_color is:', Fav_color)

My Name is: AHMED
I am 30 years old
My Fav_color is: GREEN

2.2. Create one variable of each type and use the type() function to verify its type.

In [4]:
Name= "ahmed"
Age= 30
results= 79.5
Student_status= True
punctuality=None
print(type(Name))
print(type(Age))
print(type(results))
print(type(Student_status))
print(type(punctuality))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

2.3.Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [6]:
Lenth = 72
Width = 50
Area = Lenth * Width
Perimeter = 2 * (Lenth + Width)
print('Area of the rectangle =', Area)
print('Perimeter of the rectangle =', Perimeter)

Area of the rectangle = 3600
Perimeter of the rectangle = 244

2.4.  Create a list of 5 Bangladeshi foods, then access the first and
last elements.

In [8]:
BD_foods = ['rice', 'potato mash', 'biriyani', 'fish curry', 'khichuri']
print(BD_foods)
print(BD_foods[0])
print(BD_foods[-1])

['rice', 'potato mash', 'biriyani', 'fish curry', 'khichuri']
rice
khichuri

2.5  Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [9]:
Five_numbers = [10, 20, 30, 40, 50]
print(Five_numbers)
Five_numbers.append(60)
print(Five_numbers)
Five_numbers.remove(30)
print(Five_numbers)
Five_numbers.sort()
print(Five_numbers)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]
[10, 20, 40, 50, 60]
[10, 20, 40, 50, 60]

2.6  Create a dictionary about yourself with at least 4 key-value pairs.

In [13]:
# Create a dictionary
Myself= {
    "Name": "AHMED",
    "Age" : 30 ,
    "Occupation" : "Student" ,
    "Hobby" : "Playing Cricket" ,
}
print(Myself)
print(Myself["Name"])
print(Myself["Age"])
print(Myself["Occupation"])
print(Myself["Hobby"])

{'Name': 'AHMED', 'Age': 30, 'Occupation': 'Student', 'Hobby': 'Playing Cricket'}
AHMED
30
Student
Playing Cricket

2.7  Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [14]:
#Creating a tuple
Longitude = 34.6
latitude = 20.4
Famous_place = (Longitude, latitude)
print(Famous_place)

(34.6, 20.4)

2.8. Create two sets of colors and find their union and intersec

In [15]:
# Create sets
Color_1={"red","green","blue","white"}
Color_2={"yellow","green","pink","black"}
print(Color_1)
print(Color_2)
# Union
Union=Color_1|Color_2
print(Union)
# Intersect
Intersection=Color_1&Color_2
print(Intersection)

{'green', 'blue', 'white', 'red'}
{'black', 'green', 'yellow', 'pink'}
{'green', 'red', 'pink', 'blue', 'yellow', 'black', 'white'}
{'green'}

2.9  Write a program that checks if a number is positive, negative, or zero.

In [21]:
Number=int(input("Enter a number:"))

if Number>0:
    print("Number is positive")
elif Number<0:
    print("Number is negative")
else:
    print("Number is zero")

Enter a number:15
Number is positive

2.10  Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).

In [23]:
# Check eligibility for a discount
Person = "student"
age = 45

if Person == "student":
  if age <= 25:
    print('You are eligible for a discount')
  elif age > 60:
    print('You are eligible for a discount')
  else:
    print('You are not eligible for a discount')

You are not eligible for a discount

2.11  Write a program that prints the first 10 even numbers
using a for or while loop.

In [27]:
#Using loop
for i in range(10,30):
  if i%2==0:
    print(i)

10
12
14
16
18
20
22
24
26
28

2.12  Write a program that prints a simple number pyramid pattern using nested loops.

In [30]:
for i in range(1, 6):
    for j in range(i):
        print(j + 1, end=" ")
        print("#"*i)
    print()

1 #

1 ##
2 ##

1 ###
2 ###
3 ###

1 ####
2 ####
3 ####
4 ####

1 #####
2 #####
3 #####
4 #####
5 #####

2.13  Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C Ã— 9/5) + 32

In [31]:
def celsius_to_fahrenheit (celsius):
  fahrenheit = (celsius* 9/5) + 32
  return fahrenheit
fahrenheit = celsius_to_fahrenheit (37)
print(f'Fahrenheit Temperature:', fahrenheit)

Fahrenheit Temperature: 98.6

2.14 Create a function with default parameters that calculates the area of a rectangle.

In [32]:
def rec_area (length, width):
  area = length * width
  return area
area = rec_area (10,5)
print (f"Area of rectangle:", area)

Area of rectangle: 50